{
  "presets": ["env", "stage-3", "react", "flow"],
  "plugins": [
    [
      "transform-runtime",
      "module-resolver",
      {
        "extensions": [".js", ".jsx"],
        "root": ["./src"],
        "alias": {
          "containers": "./app/containers",
          "components": "./app/components",
          "routers": "./app/routers"
        }
      }
    ]
  ]
}
