{
  "env": {
    "client": {
      "presets": ["env", "stage-3", "react", "flow"],
      "plugins": [
        "dynamic-import-webpack",
        [
          "transform-runtime", {
            "helpers": true,
            "polyfill": true,
            "regenerator": false,
          },
        ],
      ]
    },
    "server": {
      "presets": [
        "flow",
        "react",
        [
          "env", {
            "targets": {
              "node": "current",
            },
          },
        ]
      ],
      "plugins": [
        "babel-plugin-root-import",
        "dynamic-import-webpack",
        "transform-object-rest-spread",
        [
          "module-resolver", {
            "root": ["./src"],
            "alias": {
              "server": "./server",
              "isomerism": "./isomerism",
            },
          },
        ]
      ],
      "ignore": [
        "*.css",
      ]
    }
  }
}
